business=BUSINESS
zookeeper.address=INDEX_ZKADDRESS
hydra.node.id=NODENAME
hydra.node.partitions=NODEPART
hydra.index.directory.path=INDEXDIR
hydra.index.directory.mode=INDEXMODE

hydra.index.batchSize=100000
hydra.index.batchDelay=8640000000
hydra.index.maxBatchSize=3000000
hydra.index.realtime=true
hydra.index.freshness=1000

hydra.index.manager.default.partitionSize=PARTITION_SIZE

hydra.index.manager.default.batchSize=300
#share.hydra.index.manager.default.batchSize=1
hydra.index.manager.default.rebuildIndex=false
hydra.index.manager.default.zkServer=KFK_ZKADDRESS 
hydra.index.manager.default.type=kafka
hydra.index.manager.default.topic=TOPIC
hydra.index.manager.default.timeout=4000
hydra.redis.name=REDIS_NAME
hydra.redis.zkServer=REDIS_ZKADDRESS 


hydra.highlight.enable=true
hydra.highlight.timeout=3000
hydra.highlight.fragment.enable=true
hydra.highlight.fragment.size=200

hydra.searcher.loadbalance=LOAD_CAPACITY
hydra.loadbalance.weight=1.0
hydra.loadbalance.heartbeat.interval=5

hydra.filter.load.period=86400000
hydra.filter.load.delay=60000
hydra.filter.slop.min=0
hydra.filter.slop.termlength=2
hydra.filter.slop.wordlength=3

hydra.analyzer.pool.size=10
hydra.analyzer.pool.type=tc
